.splash {
    background: #ef8233;
    color: #fff;
    padding: 15px;
    max-width: 500px;
    border-radius: 10px;
    margin: 15px auto;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
}

.splash .message {
    font-size: 2em;
    font-weight: bold;
    text-transform: none;
}

.splash .fa-spinner {
    margin-top: 20px;
    font-size: 3em;
}

.splash .bigLogo {
    content: url("images/BigLogo.png");
    margin: 20px 0;
    width: 160px;
}

.splash p {
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
    font-size: 1.2em;
    text-align: left;
    width: 270px;
    margin: auto;
}

.splash p.source {
    text-align: right;
    padding-right: 10px;
}

.about {
    max-width: 500px;
}

.about .branding {
    height: 350px;
}

.about .description {
    margin: 40px 15px 10px 15px;
    color: #777;
    font-size: 1.5em;
    text-align: center;
}
.about q {
    text-align: left;
}

.getStarted {
    text-align: center;
}

.getStarted a{
    width: 200px;
}
