<div class="container about">
    <div class="splash branding">
        <div class="message">
            Read Every Word
        </div>
        <i class="bigLogo"></i>
        <p>Man shall not live on bread alone, but on every word that proceeds out of the mouth of God.</p>
        <p class="source">- Jesus</p>
    </div>
    <div class="description">
        <p>
            Read Every Word is a guilt free Bible reading program. Read at your own pace and never forget what you have read!
            Whether it takes you one year or one life time... 
        </p>
        <p>
            <b>Read Every Word!</b>
        </p>
    </div>
</div>